body {
  font-family: 'Poppins',sans-serif !important;
}

.vh-95 {
  height: 95vh;
}

.h-100 {
  height: 100%;
}

.border-1 {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.border-2 {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.img-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar {
  top: 0;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
}

.text-main {
  color: #2d4a8a !important;
}

.bg-main {
  background-color: #2d4a8a;
}

.bg-orange-light {
  background-color: #F94C0814;
}

.bg-gray-light {
  background-color: #ECECEC !important;
}

.text-gray-light {
  color: #ECECEC !important;
}

.bg-gradient {
  background-image: linear-gradient(to left bottom, #ffc3aa, #ffd1ae, #ffe0b4, #ffefbf, #fffdcc);
}

.text-black {
  color: #000;
}

.text-graylight {
  color: #cccccc;
}

.text-darkgray {
  color: #88888899;
}

.hr-gray {
  height: 1px;
  width: 1px;
  background: #ccc;
}

.hr-gray-100 {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.btn-main {
  background-color: #2d4a8a;
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.btn-outline-black {
  border: 3px solid #fff;
}

.btn-outline-main {
  color: #2d4a8a !important;
  background: transparent;
  border: 2px solid #2d4a8a;
}

.btn-outline-main:hover {
  background-color: #2d4a8a;
  color: #fff !important;
}

.border-main {
  border: 2px solid #2d4a8a !important;
}

.badge-main {
  background-color: #2d4a8a;
  color: #fff;
}

.border-rounded {
  border: 1px white solid;
  border-radius: 10rem;
}

.border-gray {
  border: 1px #cccccc solid;
  border-radius: 10px;
}

.w-50px {
  min-width: 50px;
  max-width: 55px;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
}

.heading::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 80px;
  background-color: #2d4a8a;
  margin-bottom: 16px;
  margin-right: 20px;
}

.heading::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 80px;
  background-color: #2d4a8a;
  margin-bottom: 16px;
  margin-left: 20px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs:hover {
  border-bottom: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #2d4a8a;
  background-color: #fff;
  border-color: #fff;
  border-bottom: 2px solid #2d4a8a;
}

.nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link:hover {
  color: #000;
}

.nav-tabs .nav-link {
  padding: .5rem 2rem;
}

.nav-tabs .nav-link:hover {
  text-decoration: none;
  color: #000;
}

#home-banner {
  background-image: url(../img/home.png);
}

.dropdown .dropdown-menu {
  padding: 0;
}

.dropdown .dropdown-menu .nav-pills .nav-link {
  padding: 5px 20px;
}

.dropdown .dropdown-menu .nav-pills .nav-link.active, .dropdown .dropdown-menu .nav-pills .show > .nav-link {
  border-left: 2px solid #2d4a8a;
  color: #000;
  background-color: #fff;
}

.navbar {
  box-shadow: none;
}

.navbar .navbar-left .navbar-brand .logo {
  height: 40px;
}

.header {
  height: 600px;
  background-image: url(../img/cover__home.jpeg);
  background-size: 100% 100%;
}

.header__caption--h4 {
  font-size: 3.5rem;
  font-weight: 600;
}

.header__caption--h6 {
  font-size: 1.5rem;
  font-weight: 600;
}

.header .card .nav-pills .nav-link {
  color: #000;
  padding: 5px 4rem;
}

.header .card .nav-pills .nav-link:hover {
  color: #000;
}

.header .card .nav-pills .nav-link.active {
  color: #fff;
  background-color: #2d4a8a;
}

@media screen and (max-width: 900px) {
  .header__caption {
    display: none;
  }
}

.flights {
  padding: 5rem 0;
}

.flights__info {
  position: relative;
}

.flights__info .img-fluid {
  width: 100%;
  height: 300px;
}

.flights__info .img-details {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
}

.about {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 162, 0.5), rgba(2, 20, 162, 0.5)), url(../img/single-img-twentyone.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 0;
}

.about .heading::before {
  background-color: #fff;
}

.about .heading::after {
  background-color: #fff;
}

.about .card {
  background-color: transparent;
}

.about .card .card-body {
  padding: 35px;
}

.about .card .card-body .btn {
  padding: 1.5rem;
  border-radius: 5px;
}

.what-we-offer {
  padding: 100px 0;
}

.what-we-offer .slick-prev {
  left: -5rem;
}

.what-we-offer .slick-next {
  right: -5rem;
}

.website-info {
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(2, 20, 162, 0.5), rgba(2, 20, 162, 0.5)), url(../img/single-img-fourteen.jpg);
  padding: 50px;
}

.payment {
  padding: 70px 0;
}

footer .img-fluid {
  height: 30px;
}

.filter__header {
  height: 150px;
  background-size: cover;
  background-image: url(../img/cover__home.jpeg);
}

.filter__header h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.Form-main {
  border: 1px #cccccc solid;
  border-radius: 4px;
}

.text-green {
  color: #21A028;
}

.modal-login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100000000;
}

.modal-login #close {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2131321213213213;
}

.filter .extras-row .card {
  background-color: #ECF6F8;
}

.filter .list-activites-card .card .card-body .img-badges-left {
  position: absolute;
  top: 20px;
  left: 35px;
}

.filter .list-activites-card .card .card-body .img-badges-right i {
  position: absolute;
  top: 20px;
  right: 20px;
}

.booking__stations--btns .active {
  display: inline;
}

.booking__bus .btn {
  padding: 8px 10px 6px;
}

.booking__bus--seats .btn-seats-bg {
  padding: 6px 6px;
}

.booking__checkout .nav-tabs .nav-link {
  padding: .8rem 3rem;
}

.profile__header {
  height: 150px;
  background-size: cover;
  background-image: url(../img/cover__home.jpeg);
}

.profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile .nav-pills .nav-link {
  padding: 10px 20px;
}

.profile .nav-pills .nav-link.active, .profile .nav-pills .show > .nav-link {
  border-left: 2px solid #2d4a8a;
  color: #000;
  background-color: #fff;
}

.contact .nav-pills .nav-link {
  padding: 10px 20px;
}

.contact .nav-pills .nav-link:hover {
  color: #000;
}

.contact .nav-pills .nav-link.active, .contact .nav-pills .show > .nav-link {
  border-left: 2px solid #2d4a8a;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
}

.branches__row:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.branches .head {
  font-size: 25px;
  font-weight: 700;
}

.branches .table th, .branches .table td {
  border-top: none;
}

@media screen and (max-width: 1025px) {
  .what-we-offer .slick-prev {
    display: none !important;
  }
  .what-we-offer .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .right-img {
    display: none;
  }
  .details__general--info p {
    margin: 30px 0 10px 0;
  }
  .details__general--info h4 {
    margin: 30px 0 10px 0;
  }
  .modal-login #close {
    top: 20px;
    right: 20px;
  }
  .booking__search--labelnone {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #filterBtn {
    display: none;
  }
  #bookingFilterBtn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #filter {
    display: none;
  }
  #bookingFilterCard {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .filter .card .col-lg-4 .img-main {
    width: 100%;
  }
  .filter .card .card-body .card-description {
    margin-top: 20px;
  }
  .booking .user-cancellation .list {
    margin-bottom: 20px;
  }
  .booking .user-cancellation .tabs .card .col-lg-4 .img-main {
    width: 100%;
  }
  .booking .user-cancellation .card .card-body .card-description {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1020px) {
  .filter .list-activites-card .card .col-lg-4 {
    padding-right: 0;
  }
  .filter .list-activites-card .card .col-lg-4 .img-main {
    width: 100%;
    height: 180px;
  }
  .booking .user-cancellation .tabs .card .col-lg-4 {
    padding-right: 0;
  }
  .booking .user-cancellation .tabs .card .col-lg-4 .img-main {
    width: 270px;
    height: 180px;
  }
  .booking .user-cancellation .card .col-lg-4 {
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .heading::before {
    display: block;
    margin-left: auto;
  }
  .heading::after {
    display: block;
    margin-right: auto;
    margin-top: 16px;
  }
  .profile__right {
    margin-top: 20px;
  }
}

input[type="checkbox"] {
  visibility: hidden;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid rgba(0, 0, 0, 0.5);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 20px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 18px;
}

input[type="checkbox"]:checked + label:before {
  color: #2d4a8a;
  content: "\2713";
  text-align: center;
}
/*# sourceMappingURL=style.css.map */